/* Estilos de los encabezados */
.encabezados{
	display: inline-block;

	width: 250px;
	margin-bottom: 20px;
	padding: 5px 10px 15px 20px;

	color: blueviolet;
	border: 5px dashed black;
	background-color: bisque;
}

.encabezados div{
	width: 30%;
}

.parrafos{
	display: inline-block;

	width: 200px;
	margin-top: 30px;
	padding: 5px 10px 15px 20px;

	border: 5px dashed blue;
	background-color: brown;
}

.encabezados h3 ~ h3{
	font-size: 25px;

	color: black;
}

/* Selector de identificador */
#parrafo1{
	font-size: 15px;
	font-weight: bold;

	color: greenyellow;
}

.logo{
	height: 50px;
}

nav{
	display: inline;
}
